
/* Whole Page */

body {
    background-image: url(https://giffiles.alphacoders.com/220/220213.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    

    color: #e8dcc5;

    font-family: Arial, sans-serif;

    margin: 0;

}


/* Navigation */

nav {

    background-color: #0b0b0b;

    padding: 20px;

    text-align: center;

}


nav a {

    color: #e8dcc5;

    text-decoration: none;

    margin: 20px;

}


/* Main Headings */

h1 {

    text-align: center;

    margin-top: 50px;

}


h2 {

    margin-top: 30px;

}


/* About and Policy */

.about,
.policy {

    width: 700px;

    max-width: 85%;

    margin: 40px auto;

    padding: 30px;

    background-color: #0b0b0b;

    border: 1px solid #e8dcc5;

}


.about p,
.policy p {

    line-height: 1.7;

}


/* Footer */

footer {

    background-color: #0b0b0b;

    text-align: center;

    padding: 20px;

    margin-top: 50px;

}

